.op-list, .cont-details{
	font-size: 1.1rem;
}

.op-list md-icon{
	width: 1.1rem;
}

/** TOOLBAR */
.md-toolbar-tools{
	color: white;
}

.animate-show{
	opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.35s;
  transition: all linear 0.35s;
}

.animate-show.ng-hide {
  opacity: 0;
}

/* CONT-AVATAR */
.cont-avatar img{
	margin: 20px 6.5%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
/* OP-CONTENT */
.op-content{
	margin: 20px 0 0 0;
}

.op-content p, 
.op-content h3, 
.op-content h4{
	margin: 0;
}

/* OP-SIDEBAR */
.op-sidebar md-switch{
	margin: 14px 1px 0 0;
	padding: 0;
	-webkit-align-items: top;
	align-items: top;
}

.op-sidebar md-switch .md-bar{
	width: 27px;
	
}
.op-sidebar md-switch .md-thumb{
	width: 14px;
	height: 14px;
	top: 3px;
}

.op-sidebar p{
	margin: 20px 2px 0 0;
}

.op-sidebar .md-button{
	margin-right: 0;
	min-width: 25%;
}

.op-sidebar md-icon{
	width: 100%;
}

.op-sidebar .menu p{
	margin: 0;
}
.op-sidebar .menu{
	position: absolute;
	right: 5px;
	z-index: 999999;
	margin: 0;
}

.op-sidebar .menu a{
	text-decoration: none;
	color: black;
}

/* OP-FOOTER */
.op-footer .md-button{
	margin: 10px 0;
	display: inline-block;
	font-size: 1rem;
	min-width: 6em;
}

/* CONT-SOCIALS */
.socials .md-button{
	margin: auto 2px;
	width: 32px;
}

/* CONT-DETAILS */
.cont-details .md-subheader{
	text-transform: uppercase;
	font-weight: bold;
}

.cont-details .md-subheader .md-subheader-inner{
	padding: 10px 0 5px 0;
}

[layout-padding].cont-details{
	padding: 8px 12px;
}

.cont-details md-list-item > md-icon:first-child{
	margin: auto 4%  47px auto;
}
.cont-details md-list-item .md-list-item-text{
	padding: 0;
}

.cont-details md-list-item .md-list-item-text h4{
	line-height: 1.1em;
}
.cont-details .md-list-item-text p.caption{
	font-size: 1.2rem;
	color: rgba(0,0,0,0.54);
}

p.caption md-divider{
	position: static;
	margin: 20px 0;
}


/* CLASSES */
.clickable{
	cursor: pointer;
}

.sub-divider{
	margin-bottom: 20px;
}