<md-whiteframe layout="column" ng-repeat="group in groups" class="md-whiteframe-z1" ng-class="{panel: $index > 0}" layout-fill>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="md-flex">{{group.name}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Settings" ng-click="group.collapse = !group.collapse">
				<md-icon ng-show="group.collapse" md-svg-icon="img/icons/chevron-right.svg"></md-icon>
				<md-icon ng-show="!group.collapse" md-svg-icon="img/icons/chevron-down.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout-fill ng-show="!group.collapse" class="animate-show" >
		<md-whiteframe layout="column" ng-repeat-start="op in opportunities | filter: {group : group.group}" class="op-list">
			<!-- OP Main -->
			<md-whiteframe layout="row" layout-align="center">
				<!-- OP avatar -->
				<md-whiteframe class="cont-avatar clickable" flex="25" ng-click="goToContact(op.contact)" align="center">
					<img ng-src="img/{{op.contact.id}}.jpg" alt="{{op.contact.name}}">
				</md-whiteframe>

				<!-- OP content -->
				<md-whiteframe layout="column" class="op-content clickable" ng-click="goToContact(op.contact)" flex="45">
					<h3>{{op.contact.name}} - {{op.name}}</h3>
					<h4>{{op.price}} - {{op.stage}}</h4>
					<p class="caption">
						<md-icon md-svg-icon="img/icons/email.svg"></md-icon>{{op.subject}}
					</p>
				</md-whiteframe>


				<!-- OP Sidebar -->
				<md-whiteframe class="op-sidebar" flex="30" layout="row" layout-align="end">
					<md-switch layout-align="center start"></md-switch>
					<p>{{op.daysLeft}}d</p>
					<md-whiteframe layout="column" layout-fill> 
						<md-button ng-click="toggleMenuClick(op)" class="md-icon-button" aria-label="Opportunity Menu">
							<md-icon md-svg-icon="img/icons/dots-vertical.svg"></md-icon>
						</md-button>
						<!-- MENU -->
						<md-card ng-click="toggleMenuClick(op)" class="md-whiteframe-z3 menu" ng-show="op.menu">
								<md-list>
									<md-list-item>
										<a href="#"> Edit Opportunity </a>
									</md-list-item>
									<md-divider></md-divider>
									<md-list-item>
										<a href="#"> Schedule Follow-up </a>
									</md-list-item>
									<md-divider></md-divider>
									<md-list-item>
										<a href="#"> Assign Follow-up </a>
									</md-list-item>
									<md-divider></md-divider>
									<md-list-item>
										<a href="#"> Open Feed </a>
									</md-list-item>
								</md-list>
							</md-card>
					</md-whiteframe>
				</md-whiteframe>
			</md-whiteframe>

			<!-- OP footer -->
			<md-whiteframe class="op-footer" layout="row" flex="45" offset="25" layout-wrap>
				<md-button class="md-primary">Feed</md-button>
				<md-button class="md-primary">Schedule</md-button>
				<md-button class="md-primary">Assign</md-button>
			</md-whiteframe>
		</md-whiteframe>
		<md-divider ng-if="!$last" ng-repeat-end=""></md-divider>
	</md-content>
</md-whiteframe>

